---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Plac%20Europejski%202,%20Warszawa,%20Polska&key=AIzaSyB6rKRlfpX10lZyMDqsBCCxdsJ-ngidyQQ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2",
                       "short_name" : "2",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "plac Europejski",
                       "short_name" : "plac Europejski",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Wola",
                       "short_name" : "Wola",
                       "types" : [ "political", "sublocality", "sublocality_level_1" ]
                    },
                    {
        [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Leszno%2015,%20Warszawa,%20Polska&key=AIzaSyB6rKRlfpX10lZyMDqsBCCxdsJ-ngidyQQ&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
               [...]
