---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Lambeth,%20London%20SE1%207PB,%20UK&key=<google_api_key>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "SE1 7PB",
                       "short_name" : "SE1 7PB",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "South Bank",
                       "short_name" : "South Bank",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "South Bank, London SE1 7PB, UK",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 51.5061471,
                          "lng" : -0.1186661
                       },
                       "southwest" : {
                          "lat" : 51.5014736,
                          "lng" : -0.1215099
                       }
                    },
                    "location" : {
                       "lat" : 51.5024625,
                       "lng" : -0.121064
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5061471,
                          "lng" : -0.1186661
                       },
                       "southwest" : {
                          "lat" : 51.5014736,
                          "lng" : -0.1215099
                       }
                    }
                 },
                 "place_id" : "ChIJFWJRuccEdkgR3hZpwGa2Des",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 08 Jul 2019 13:02:06 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Trafalgar%20Square,%20Charing%20Cross,%20London%20WC2N%205DN,%20UK&key=<google_api_key>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
     [...]
